html{
	background: yellow;
}

nav a{
  color: #331C12;
  text-decoration:none;
  font-weight:bold;
  font-size: 1.2em;
  padding: 5px;
}

nav ul{
	width:auto;
	display:inline-block;
	overflow: hidden;
	list-style:none;
	text-align:center;	
}
nav ul li{	
	display:inline-block;
	/*float: left;
	padding: .5em ;*/
	text-decoration:none;
}